

* {
    margin: 0px;
    padding: 0px;
}

#map {
    width: 100%;
    height: 600px;
    border: solid 1px #999999;
}

#popup {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

    #popup div.arabaslik, #popup #buluttabani {
        font-weight: bold;
        font-size: 14px;
    }

    #popup div {
        margin-bottom: 3px;
    }

#istAd {
    font-size: 20px;
    color: darkblue;
}

.divIcon {
    background-color: none;
}

    .divIcon .precipitation {
        margin-top: -50px;
        margin-left: -25px;
    }

    .divIcon div {
        width: 60px;
    }

    .divIcon .cloudInfo {
    }

        .divIcon .cloudInfo img {
            width: 12px;
            height: 12px;
        }
