

* {
    margin: 0px;
    padding: 0px;
}

#map {
    width: 100%;
    border: solid 1px #999999;
}

#popup {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#istAd {
    font-size: 20px;
    color: darkblue;
}

#popup div.arabaslik, #popup #buluttabani {
    font-weight: bold;
    font-size: 14px;
}

#popup div {
    margin-bottom: 3px;
}